include ../../_shared/link/index.pug
include ../../_shared/image/index.pug


//-
  Карточка жанра фильма: название, иконка, вариант
  props:
  - {string} title - название жанра 
  - {string} href - адрес ссылки
  - {string} bgVariant - вариант стилей для фона карточки {yellow|red|blue|dark}
  - {string} src - ссылка на изображение
  - {string} srcset - ссылки на адаптивные изображения (заменяет собой src2x)
  - {string} src2x - ссылка на изображение в 2 раза больше основного (не применяется если есть srcset)
  - {string} imageClass - доп. классы для изображения
  - {string} titleClass - доп. классы для заголовка (названия жанра)
mixin genre-card(props={})
  - var BASE_CLASS = 'genre-card'
  - var BASE_IMAGE_CLASS = `${BASE_CLASS}__image`
  - var BASE_TITLE_CLASS = `${BASE_CLASS}__title`
  - var DEFAULT_IMAGE_SIZE = 48

  - var title = props.title
  - var href = props.href || '#'
  - var isTitle = !!props.title
  - var isImage = !!props.src
  //- alt не должен дублировать текст ссылки (Accessibility)
  - var alt = `Иконка жанра${isTitle ? `: ${props.title}` : ''}` 
  
  - var wrapClass = BASE_CLASS
  - var imageClass = BASE_IMAGE_CLASS
  - var titleClass = BASE_TITLE_CLASS
  - wrapClass += props.class ? ` ${props.class}` : ''
  - imageClass += props.imageClass ? ` ${props.imageClass}` : ''
  - titleClass += props.titleClass ? ` ${props.titleClass}` : ''
  - wrapClass += props.bgVariant ? ` ${BASE_CLASS}_bg_${props.bgVariant}` : ''
  - wrapClass += (isTitle && isImage) ? '' : ` ${BASE_CLASS}_vertical_center`
  - imageClass += isTitle ? '' : ` ${BASE_IMAGE_CLASS}_vertical_center`
  - titleClass += isImage ? '' : ` ${BASE_TITLE_CLASS}_vertical_center`


  +link({ class: wrapClass, href: href, title: title })
    - if (isImage)
      +image({ 
        class: imageClass, 
        alt: alt,
        src: props.src,
        srcset: props.srcset,
        src2x: props.src2x,
        height: DEFAULT_IMAGE_SIZE,
        width: DEFAULT_IMAGE_SIZE,
      })
    - if (isTitle)
      h3(class=titleClass)= title
