include ../../_shared/link/index.pug
include ../../_shared/icon/index.pug
include ../../_shared/input/index.pug
include ../site-auth/index.pug
include ../../_features/humburger-btn/index.pug


//- 
  Шапка сайта
mixin main-header(props={})
  - var BASE_CLASS = 'main-header'

  - var isMainPage = props.isMainPage
  - var isAuth = props.isAuth
  - var wrapClasses = BASE_CLASS
  - var logoClasses = `${BASE_CLASS}__logo`
  - logoClasses += !isAuth ? ` ${BASE_CLASS}__logo_interactive` : ''

  - delete props.isMainPage
  - delete props.isAuth

  //- логотип в header
  mixin logo
    if (isMainPage)
      div(class=logoClasses)
        +icon({ name: 'logotype' })
    else
      +link({ title: 'Видеосервис', class: logoClasses, href: linkMainPage })
        +icon({ name: 'logotype' })


  header(class=wrapClasses)&attributes(props)
    +logo
    form(class=`${BASE_CLASS}__form`)
      +input({ 
        type: 'search', 
        wrapClass: `${BASE_CLASS}__search`, 
        placeholder: 'Поиск...', 
        variant: 'primary' 
      })
      +btn({ title: 'Найти', variant: 'secondary', padding: true })
        |Найти
    +site-auth({ class: `${BASE_CLASS}__auth`, isAuth: isAuth })
    +humburger-btn({ title: 'Открыть мобильную версию меню', class: `${BASE_CLASS}__humburger` })