include ../../_shared/btn/index.pug


//- 
  Авторизация на сайте. Содержит два внутрюблока, отвечающих за разные состояния: 
  1) кнопка "Войти" для авторизации на сайте 
  2) изменяемое имя пользователя и кнопка "Выйти" для выхода из аккаунта
  props:
  - {string} wrapTag - тег родительского компонента {div}
  - {string} innerTag - тег внутр.блоков {div}
  - {boolean} isAuth - авторизован ли пользователь
  - {string} showClass - класс, добавляемый к отображаемому внутр.блоку {show}
mixin site-auth(props={})
  - var BASE_CLASS = 'site-auth'
  - var SIGN_IN_CLASS = `${BASE_CLASS}__sign-in`
  - var SIGN_OUT_CLASS = `${BASE_CLASS}__sign-out`

  - var wrapTag = props.wrapTag || 'div'
  - var innerTag = props.innerTag || 'div'
  - var isAuth = props.isAuth || false
  - var showClass = props.showClass || 'show'

  - var wrapClasses = BASE_CLASS
  - var signInClasses = SIGN_IN_CLASS
  - var signOutClasses = SIGN_OUT_CLASS
  - var btnSignInClasses = `${SIGN_IN_CLASS}-btn`
  - var btnSignOutClasses = `${SIGN_OUT_CLASS}-btn`
  - signInClasses += isAuth ? '' : ` ${SIGN_IN_CLASS}_${showClass}`
  - signOutClasses += isAuth ? ` ${SIGN_OUT_CLASS}_${showClass}` : '' 

  - delete props.wrapTag
  - delete props.isAuth
  - delete props.showClass
  - delete props.innerTag


  #{wrapTag}(class=wrapClasses)&attributes(props)
    //- пользователь не авторизован, отображается кнопка "Войти"
    #{innerTag}(class=signInClasses)
      +btn({ title: 'Войти', variant: 'primary', padding: true, class: btnSignInClasses })
        |Войти
    
    //- пользователь уже авторизован, отображается кнопка "Выйти"
        и изменяемое имя пользователя
    #{innerTag}(class=signOutClasses)
      //- TODO user name
      +btn({ title: 'Выйти', variant: 'secondary', padding: true, class: btnSignOutClasses })
        |Выйти